RewriteEngine on
RewriteRule ^downloads\/Byteball-TN-osx64.dmg https://github.com/byteball/byteball/releases/download/v0.7.0t/Byteball-TN-osx64.dmg [R=302,L]
RewriteRule ^downloads\/Byteball-TN-win64.exe https://github.com/byteball/byteball/releases/download/v0.7.0t/Byteball-TN-win64.exe [R=302,L]
RewriteRule ^downloads\/Byteball-TN-win32.exe https://github.com/byteball/byteball/releases/download/v0.7.0t/Byteball-TN-win32.exe [R=302,L]
RewriteRule ^downloads\/byteball-linux64.zip https://github.com/byteball/byteball/releases/download/v0.7.0t/byteball-linux64.zip [R=302,L]
